<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#" ng-app="cvApp">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Plus de 10 ans d'expérience dans le domaine du développement web." />
		
		<meta name="keywords" content="développeur, intégrateur, web, internet"/>
		
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:site" content="@vnabet">
		<meta name="twitter:creator" content="@vnabet">
		<meta name="twitter:url" content="http://www.vincentnabet.fr/">
		<meta name="twitter:title" content="Vincent Nabet - Développeur Intégrateur Web.">
		<meta name="twitter:description" content="Plus de 10 ans d'expérience dans le domaine du développement web.">
		<meta name="twitter:image" content="http://www.vincentnabet.fr/images/vincentnabet.jpg">
		
		<meta property="og:site_name" content="vincentnabet.fr"/>
		<meta property="og:type" content="profile"/>
		<meta property="og:title" content="Vincent Nabet - Développeur Intégrateur Web."/>
		<meta property="og:url" content="http://www.vincentnabet.fr/"/>
		<meta property="og:description" content="Plus de 10 ans d'expérience dans le domaine du développement web."/>
		<meta property="og:image" content="http://www.vincentnabet.fr/images/vincentnabet.jpg">
		<meta property="og:locale" content="fr_FR">
		
		<title>Vincent Nabet - Développeur Intégrateur Web</title>
		
		<link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/knacss/knacss.css" />
		<link rel="stylesheet/less" type="text/css" href="css/style.css" />
		<link rel="author" href="https://plus.google.com/108877403509036500042" />
		
		<!--[if lt IE 8]>
			<script>
				window.location = "files/vincentnabet.pdf";
			</script>
		<![endif]-->
		<!--[if IE 8]>
			<script src="js/lib/html5shiv/html5shiv.js"></script>
		<![endif]-->
		<script src="js/lib/less/less.min.js"></script>
		<script src="js/lib/angular/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37905813-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
		
	</head>
	<body class="mw960p center">
		<header class="line header">
			<hgroup class="mod left w40">
				<h1>Vincent <span class="name">Nabet</span></h1>
				<h2>Développeur-Intégrateur Web</h2>
			</hgroup>
			<aside class="mod left w60">
				<blockquote>... L'intégrateur est appelé à devenir de plus en plus un manager de solutions, appuyé sur une maîtrise rigoureuse des techniques et surtout des clés de décision...
					<footer>— <a href="http://www.editions-eyrolles.com/Livre/9782212133707/integration-web-les-bonnes-pratiques" target="_blank" title="Intégration Web - Les bonnes pratiques">Intégration Web - Les bonnes pratiques</a> - Préface d'Elie Sloïm et Laurent Denis</footer></blockquote>
			</aside>
		</header>
		
		<div class="line content top">
			<aside class="mod left w30 aside">
				<nav class="mod left w100">
					<ul class="navigation">
						<li><a href="#presentation" onclick="_gaq.push(['_trackEvent', 'Menu', 'Présentation']);">Présentation</a></li>
						<li><a href="#competences" onclick="_gaq.push(['_trackEvent', 'Menu', 'Compétences']);">Compétences</a></li>
						<li><a href="#experience" onclick="_gaq.push(['_trackEvent', 'Menu', 'Expérience']);">Experience</a></li>
						<li><a href="#formations" onclick="_gaq.push(['_trackEvent', 'Menu', 'Formations']);">Formations et Cursus</a></li>
						<li><a href="#realisations" onclick="_gaq.push(['_trackEvent', 'Menu', 'Réalisations']);">Réalisations</a></li>
						<li><a href="#interets" onclick="_gaq.push(['_trackEvent', 'Menu', 'Interêts']);">Centres d'interêts</a></li>
						<li><a href="#contact" class="contactNav" onclick="_gaq.push(['_trackEvent', 'Menu', 'Contact']);">Contact</a></li>
						<li><a href="files/vincentnabet.pdf" class="downloadNav" target="_blank" onclick="_gaq.push(['_trackEvent', 'Menu', 'Téléchargement']);">CV au format pdf</a></li>
						<li class="icon"><a href="http://www.facebook.com/vincent.nabet" class="facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Menu', 'Facebook']);">Facebook</a></li>
						<li class="icon"><a href="https://twitter.com/vnabet" class="twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Menu', 'Twitter']);">Twitter</a></li>
						<li class="icon"><a href="https://plus.google.com/108877403509036500042" target="_blank" rel="author" class="google" onclick="_gaq.push(['_trackEvent', 'Menu', 'Google']);">Google+</a></li>
						<li class="icon"><a href="http://fr.linkedin.com/in/vnabet/" target="_blank" class="linkedin" onclick="_gaq.push(['_trackEvent', 'Menu', 'Linkedin']);">linkedin</a></li>
						
					</ul>
				</nav>
			</aside>
			<div class="mod left w70">
				<div id="presentation">
					<h1>Présentation</h1>					
					<p>
						Responsable qualité de formation, je me suis orienté dans l'informatique par affinité.<br>
						Après une expérience dans le domaine du développement de logiciels de gestion, j'ai fait le choix de m'investir, de façon autodidacte, dans le développement web pour son côté créatif et innovant.<br>
						Après plus de 10 ans d'expérience dans ce domaine, que ce soit en front-end ou côté serveur, ma motivation reste intacte et suis toujours passionné par ce secteur en perpétuelle évolution.<br>Cet investissement professionnel et mon sens des responsabilités
						m'ont conduit aujourd'hui à occuper la fonction de chargé de projet.
					</p>
									
				</div>
				<div id="competences">
					<h1>Compétences</h1>
					<ul class="skills">
						<li>HTML / CSS <span class="value" style="width:100%">10</span></li>
						<li>Javascript <span class="value" style="width:100%">10</span></li>
						<li>PHP <span class="value" style="width: 60%">6</span></li>
						<li>Flash/Flex <span class="value" style="width: 90%">9</span></li>
						<li>POO <span class="value" style="width: 80%">8</span></li>
						<li>Webdesign <span class="value" style="width: 50%">5</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mod line content">
			<div id="experience">
				<h1>Experience</h2>
					
				<ul class="timeline">
					<li>
						<span class="date">Depuis Juillet 2002</span>
						<span class="job">Chargé de projet</span>
						<span class="company"><a href="http://www.yacast.fr" target="_blank" title="site Yacast">Yacast</a></span>
						<span class="description">Mise en oeuvre, développement et intégration de players et d'applications audio et vidéo pour de grands groupes de médias (NRJ, Radio France, Skyrock, Lagardère etc.).<br>Technologies HTML/CSS, Javascript, Flash et Flex, PHP.</span>
					</li>
					<li>
						<span class="date">Avril 2000 - Juillet 2002</span>
						<span class="job">Analyste programmeur</span>
						<span class="company"><a href="http://www.isagri.fr" target="_blank" title="site Isagri">Isagri</a></span>
						<span class="description">Développeur sur un logiciel de saisie/suivi en ligne de la traçabilité des productions végétales agricoles (Borland Delphi, Javascript, HTML).</span>
					</li>
					<li>
						<span class="date">Avril 1998 - Mars 2000</span>
						<span class="job">Développeur, Contrôleur qualité</span>
						<span class="company">Cegetel</span>
						<span class="description">Mise en place d'indicateurs de qualité de service sur les applications métier de Cegetel (Visual Basic).</span>
					</li>
				</ul>
			</div>
				
			<div id="formations">
				<h1>Formations</h2>
				
				<ul class="timeline formations">
					<li>
						<span class="date"></span>
						<span class="job">Flash (ActionScript 3)</span>
						<span class="company"><a href="http://www.regart.net/" target="_blank" title="site Regart.net">Regart.net</a></span>
						<span class="description">Suivi de trois formations dans un centre agréé Adobe.<br>Programmation AS3, POO AS3, Sites dynamiques.<br></span>
					</li>
					
					<li>
						<span class="date"></span>
						<span class="job">UML</span>
						<span class="company"><a href="http://www.isagri.fr" target="_blank" title="site Isagri">Isagri</a></span>
						<span class="description">Formation sur le langage de modélisation UML.<br></span>
					</li>
					
					<li>
						<span class="date"></span>
						<span class="job">Analyste programmeur</span>
						<span class="company"><a href="http://www.isagri.fr" target="_blank" title="site Isagri">Isagri</a></span>
						<span class="description">Ecole d'analyste programmeur sur plusieurs semaines. Etude de la POO, Merise et du développement en Pascal Objet (Delphi).<br></span>
					</li>
					
				</ul>
			</div>
			
			<div id="cursus">
				<h1>Cursus</h2>
				
				<ul class="timeline">
					<li>
						<span class="date">1996</span>
						<span class="job">Maîtrise de Sciences et Techniques Contrôle et Emploi des Matériaux.</span>
						<span class="company">Université de Rouen</span>
						<span class="description"></span>
					</li>
					<li>
						<span class="date">1994</span>
						<span class="job">D.U.T. Mesures Physiques</span>
						<span class="company">I.U.T de Rouen</span>
						<span class="description">Option matériaux et contrôles physico-chimiques.</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="mod line content works" id="realisations" ng-controller="works">
		  <h1>Réalisations</h1>
		  <p>Quelques exemples de sites internet et applications web réalisés à titre professionel ou personnel</p>
		  <nav class="w20">
		  	<ul>
		  		<li ng-repeat="work in worksList"><a href ng-click="select(work.id)" ng-class="work.active || ''" id="{{work.id}}">{{work.name}}</a></li>
		  	</ul>
		  </nav>
		  <div class="w80">
		  	<div class="w40 left">
				<h2>Description</h2>
				<p ng-bind-html-unsafe="currentWork.description"></p>
				<p>Technologies: {{currentWork.techno}}</p>
			</div>
		  	<div class="w60 left carousel" id="carousel">
		  		<a href="#" class="prev" ng-click="prevImage($event)">précédent</a>
		  		<a href="#" class="next" ng-click="nextImage($event)">suivant</a>
		  		<div class="buttons">
		  			<a href="#" ng-repeat="button in buttons" ng-click="selectImage($event);" id="{{$index}}-button" class="button" ng-bind-html-unsafe="button"></a>
		  		</div>
		  		<div class="picture">
					<ul ng-style="carouselStyle">						
						<li ng-repeat="image in currentWork.images">
							<figure>
								<img ng-src="images/works/{{image.file}}" alt="" />
								<figcaption ng-bind-html-unsafe="image.description"></figcaption>
							</figure>
						</li> 
					</ul>
				</div>
			</div>
		  </div>
		  
		</div>
		
		<div class="line content bottom">
			<div class="mod w40 left aside interests" id="interets">
				<h1>Centres d'intérêts</h1>
				
				<p>
					D'une manière générale, je suis totalement autonome et je me forme en permanence sur les nouvelles technologies du web. Voici une liste non exhaustive de celles qui ont particulièrement attiré mon attention dernièrement:
					<ul>
						<li>Toutes les nouvelles API javascript liées à HTML5</li>
						<li>Le développement d'applications web mobiles</li>
						<li>Node.js</li>
						<li>AngularJS</li>
						<li>LESS</li>
						<li>Typescript</li>
						<li>MongoDB</li>
					</ul>
				</p>
				
				<p>
					Une fois que mes doigts ont quitté le clavier et la souris, mes occupations sont les suivantes:
					<ul>
						<li>Les jeux de société</li>
						<li>La SF et la Fantasy</li>
						<li>Le Badminton</li>
					</ul>
				</p>
			</div>
			<div class="mod w60 left contact" id="contact">
				<h1>Contact</h1>
				
				<div itemscope itemtype="http://schema.org/Person" class="contactData">
					<div itemprop="name" class="name">Vincent Nabet</div>
					<div class="email"><span>Email :</span> 
						<script type="text/javascript" charset="utf-8">
							var adress = 'tutu';
							var domain = 'titi.fr';
							document.write('<a href="mailto:' + adress + '@' + domain + '" itemprop="email">' + adress + '@' + domain + '</a>');
						</script>
					</div>
					<div class="telephone"><span>Téléphone :</span> 
						<span itemprop="telephone">
							<script type="text/javascript" charset="utf-8">
								var first = '06';
								var last = '43';
								document.write(first + '.1.' + last);
							</script>
						</span>
					</div>
				</div>
				<h2>Formulaire de contact</h2>
				<div class="contactForm" ng-controller="contact">
					<div ng-show="errors">
						<ul>
							<li class="error" ng-repeat="error in errors">{{error.errormsg}}</li>
						</ul>
					</div>
<b>A mince, il est en panne...</b>
					<!--form  name="contactForm" ng-submit="send()" ng-show="!sended">
						<div id="span-name" class="line w100">
							<label for="form-name" >Votre Nom:</label>
							<input id="form-name" type="text" name="name" ng-model="form.name" placeholder="Mon Nom" required>
							<span class="required" ng-show="contactForm.name.$error.required">*</span>
						</div>
						<div id="span-email" class="line w100">
							<label for="form-email" >Votre email:</label>
							<input id="form-email" type="email" name="email" ng-model="form.email" ng-class="{invalid: contactForm.email.$error.email}" placeholder="mon@email.com" required>
							<span class="required" ng-show="contactForm.email.$error.required">*</span>
						</div>
						<div id="span-confirm-email" class="line w100">
							<label for="form-confirm-email" >Confirmez votre email:</label>
							<input id="form-confirm-email" type="email" name="confirmEmail" ng-model="form.confirmEmail" placeholder="mon@email.com">
						</div>
						<div id="span-message" class="line w100">
							<label for="form-message" >Message:</label>
							<textarea id="form-message" name="message" ng-model="form.message" placeholder="Mon message" required></textarea>
							<span class="required" ng-show="contactForm.message.$error.required">*</span>
						</div>
	
						<div id="span-submit" class="line w100"><input id="form-submit" type="submit" value="Envoyer" class="button" ng-disabled="contactForm.$invalid"></div>
	
					</form-->
					<p ng-show="sended">Merci, votre message est bien envoyé !<br>Je vous recontacte rapidement.</p>
				</div>

			</div>
		</div>
		
		<footer class="footer">		
			© 2013 Vincent Nabet
			<br>Site conçu avec les technologies HTML5/CSS3 , Javascript, PHP, <a href="http://angularjs.org/" target="_blank" title="Framework javascript AngularJS">AngularJS</a>, <a href="http://lesscss.org/" target="_blank" title="Création de CSS dynamiques avec LESS">LESS</a>
			
		</footer>	
	</body>
</html>
