@import url('reset.css');

:root {
  --radius: 5px;
  --photo-size: 120px;
  --header-top: 150px;
  --margin: 20px;

  --main-bg-color: #eeeeee;
  --content-bg-color: #ffffff;
  --secondary-color: #2c3d51;
  --third-color:#a25154;
  --text-color: #000000;
  --inverted-text-color: #ffffff;
  --bg-image: url(img/code-light.jpg);
  --shadow: rgba(0,0,0,0.3);
}

body.dark {
  --main-bg-color: #111111;
  --content-bg-color: #222222;
  --secondary-color: #f4e5ac;
  --third-color:#2ae2d8;
  --text-color: #ffffff;
  --inverted-text-color: #000000;
  --bg-image: url(img/code.jpg);
  --shadow: rgba(255,255,255,0.2);
}

body {
  background-color: var(--main-bg-color);
  font-size: 18px;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.5em;;
}

h2 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: var(--third-color);
  font-weight: bold;
}

.bg {
  width: 100%;
  height: calc(1.2 * var(--header-top));
  position: absolute;
  top: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.toggle-mode {
  width: 80px;
  height: 80px;
  border-radius: 60px;
  background-color: black;
  color: transparent;
  z-index: 99;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.toggle-mode.dark {
  background-color: white;
}

aside, main, header {
  background-color: var(--content-bg-color);
  border-radius: var(--radius);
  color: var(--text-color);
  border-top: 1px solid var(--secondary-color);
  box-shadow: 3px 3px 10px var(--shadow)
}

.dark aside, .dark main, .dark header {
  box-shadow: none;
}

main, aside {
  padding: 20px;
}

.container {
  margin: var(--margin);
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: var(--margin);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--header-top) 20px 20px 20px;
  position: relative;
  min-height: var(--photo-size);
  
}

header>div {
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

header>div:first-child {
  padding-left: 50px;
  padding-top: 15px;
  line-height: 1.2em;
}

.photo {
  position: absolute;
  top: calc( -1 * var(--photo-size));
  left: 50px;
  overflow: hidden;
  border-radius: var(--radius);
  padding: 1px;
  background-color: transparent;
}

.photo::before {
  content:'';
  width: 11px;
  height: 11px;
  background-color: var(--secondary-color);
  position: absolute;
  z-index: -1;
  width: 120%;
  height: 100%;
  top:-10px;
  left: -10px;
}

.photo img {
  border-radius: var(--radius);
  width: var(--photo-size);
  height: var(--photo-size);
}

.title {
  position: relative;
  display: inline-block;
  font-weight: 100;
  font-size: 1.1em;
}

.title span {
  font-weight: 600;
  color: var(--secondary-color);
}

.title::before, .title::after {
  color: var(--secondary-color);
  position: absolute;
  font-size: 60px;
  line-height: 50px;
  top: 0;
}

.title::before {
  content: '<';
  left: -40px;
}

.title::after {
  content: '/>';
  right: -55px;
}

.subtitle span {
  display: block;
}

aside {
  flex: 1;
}

main {
  flex: 3;
  margin: 0 var(--margin) 0 0;
}

.skills {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.skills li {
  display: block;
  position: relative;

}

@keyframes widthAnimation {
  0% {
      width: 0;
  }
  100% {
    width: calc(var(--skill-value) * 100% / 5);;
  }
}

[data-skill-value="1"] { --skill-value: 1; }
[data-skill-value="2"] { --skill-value: 2; }
[data-skill-value="3"] { --skill-value: 3; }
[data-skill-value="4"] { --ski3ll-value: 4; }
[data-skill-value="5"] { --skill-value: 5; }

.skills li span {
  display: block;
  position: relative;
  background-color: var(--secondary-color);
  border-radius: var(--radius);
  width: 0;
  overflow: hidden;
  height: 20px;
  color: transparent;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: calc(0.2s * var(--i));
  animation-iteration-count: 1;
  animation-name: widthAnimation;
  animation-fill-mode: forwards;
}



.step {
  position: relative;
  z-index: 1;
  width: 75%;
  background-color: var(--secondary-color);
  color: var(--inverted-text-color);
  margin-left: 25%;
  padding: 10px;
  border-radius: 0 var(--radius) var(--radius) var(--radius);
  margin-bottom: 20px;
}

.step .date {
  display: flex;
  width: calc(25% * 100 / 75 - 100px);
  min-height: calc(40px * 1.414213);
  position: absolute;
  color: var(--text-color);
  top: 0;
  text-align: right;
  left: calc(-25% * 100 / 75 );
  font-size: .9em;
  font-weight: 600;
  line-height: 1em;
  align-items: center;
  justify-content: flex-end;
}

.step .date::after {
  content: '';
  display: block;
  width: calc(100px - 40px * 1.414213/2);
  height: 0px;
  top: calc(40px * 1.414213/2 - 1px);
  left: calc(100% + 10px);
  position: absolute;
  border-top: 2px dotted var(--text-color);
  z-index: -2;
}

.step::before {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background-color: var(--secondary-color);
  z-index: -1;
  transform: rotate(45deg);
  transform-origin: top left;
}

.step::after {
  display: block;
  width: 1px;
  height: calc(100% + 10px);
  position: absolute;
  top:-10px;
  content: '';
  border-left: 2px solid var(--text-color);
  left: calc(40px * -1.414213/2);
}

.step.undated::after {
  border-left: 2px dashed var(--text-color);
}

.step.undated .date::after {
  border-top: none;
}

.step:first-of-type::after {
  height: calc(100% + 20px);
  top: 0;
}

.arbo:not(:last-of-type) .step:last-of-type::after {
  height: calc(100% + 80px);
}

.step .location {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    margin: 0;
  }

  header {
    flex-direction: column;
    margin: 0 0 var(--margin) 0;
  }

  header>div {
    width: 100%;
  }

  header>div:first-child {
    padding-left: 0;
    text-align: center;
  }

  .photo {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
  }

  .photo img {
    display: inline-block;
    border: 1px solid var(--secondary-color)
  }

  .subtitle {
    text-align: center;
    padding: 10px 0 0 0;
  }

  .subtitle span {
    display: inline-block;
  }

  .subtitle span:not(:last-child)::after {
    content: ',';
  }

  .informations {
    text-align: center;
    padding: 10px 0;
  }

  aside {
    margin: 0 0 10px 0;
  }
}